<div class="grid-x grid-padding-x align-center">
  <div class="cell small-12 medium-6 large-5">
    <div id="declaracion" class="callout large">
      <h4>Donacion pendiente de moderación</h4>
      <p>La donación ha sido recibida, pero por motivos legales, debe ser verificada antes de continuar, te enviaremos un email en cuanto la validación sea realizada.</p>
    </div>
  </div>
</div>
